# Terraform
.terraform/
.terraform.*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraformrc

# Local env
.DS_Store
.idea/
.vscode/